div#container div#main_content h2#contact_title {
    padding: 10px 15px;
    color: rgba(153, 15, 15, 0.825);
}

div#container div#main_content p.contact_text {
    padding: 10px 15px;
    font-size: 110%;
    line-height: 80%;
}

div#container div#main_content form#feedback_form {
    border-bottom-left-radius: 20px;
    background-color: rgba(211, 94, 94, 0.774);
    margin-top: 28px;
    padding: 10px 15px;
    line-height: 120%;
}

input.text_box {
    margin-top: 5px;
    height: 25px;
    width: 100%;
}

input#btnSubmit {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    color: whitesmoke;
    background-color: rgba(153, 15, 15, 0.825);
    cursor: pointer;
}